
    <title>Welcome To Our Shopping Site</title>
   {{> style}}

   <div class="wrapper wrapper-content" id="savea">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="box-heading">
                            <div class="row">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                    <h2>Product List</h2>
                                </div>
                            </div>

                        </div>

                        <div class="tab-row">

                            <div class="ast-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="box">

                                            <div class="text color-1">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                                        <div class="image">
                                                            <img src="img/propertie-dtl-slider2.jpg" id="img1" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div>
                                                            <h3 id="productName1">Alice & Blue Brand Yellow Top</h3>
                                                        </div>

                                                        <div class="as-info clearfix">

                                                            <h6><span>Price </span>
                                                                $200</h6>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                        <div class="row">

                                                            <div
                                                                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-right-a ">


                                                                <input type="number" placeholder="quantity"
                                                                    name='quantity' id="quantity1" min=1 max=10 style="width:100px">
                                                                <h4>Sub Total</h4>
                                                                <h2>$ 0</h2>

                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                                                                <div class="text-right text-l">
                                                                    <a href="#"
                                                                        class="btn btn-default btn-small" id="1" onclick="getDetails(this)">Buy</a>
                                                                </div>
                                                                <!-- <div
                                                                                                    class="text-right m-t-sm text-l">
                                                                                                    <a href="#"
                                                                                                        class="btn btn-primary btn-small">Return</a>
                                                                                                </div> -->
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="ast-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="box">

                                            <div class="text color-1">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                                        <div class="image">
                                                            <img src="img/propertie-dtl-slider3.jpg" id="img2" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div>
                                                            <h3 id="productName2">Lee Cooper Jacket</h3>
                                                        </div>

                                                        <div class="as-info clearfix">

                                                            <h6><span>Price </span>
                                                                $4500</h6>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                        <div class="row">

                                                            <div
                                                                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-right-a ">


                                                                <input type="number" placeholder="quantity" id="quantity2"
                                                                    name='quantity' min=1 max=10 style="width:100px">
                                                                <h4>Sub Total</h4>
                                                                <h2>$ 0</h2>

                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                                                                <div class="text-right text-l">
                                                                    <a href="#"
                                                                        class="btn btn-default btn-small" onclick="getDetails(this)">Buy</a>
                                                                </div>
                                                                <!-- <div
                                                                                                    class="text-right m-t-sm text-l">
                                                                                                    <a href="#"
                                                                                                        class="btn btn-primary btn-small">Return</a>
                                                                                                </div> -->
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="ast-list">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="box">

                                            <div class="text color-1">
                                                <div class="row">
                                                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                                                        <div class="image">
                                                            <img src="img/propertie-dtl-slider1.jpg" id="img3" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                                        <div>
                                                            <h3 id="productName3">Nike White black Shoes</h3>
                                                        </div>

                                                        <div class="as-info clearfix">

                                                            <h6><span>Price </span>
                                                                $2500</h6>


                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                                        <div class="row">

                                                            <div
                                                                class="col-lg-6 col-md-6 col-sm-6 col-xs-12 border-right-a ">


                                                                <input type="number" placeholder="quantity" id="quantity3"
                                                                    name='quantity' min=1 max=10 style="width:100px">
                                                                <h4>Sub Total</h4>
                                                                <h2>$ 0</h2>

                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">

                                                                <div class="text-right text-l">
                                                                    <a href="#"
                                                                        class="btn btn-default btn-small" onclick="getDetails(this)">Buy</a>
                                                                </div>
                                                                <!-- <div
                                                                                                    class="text-right m-t-sm text-l">
                                                                                                    <a href="#"
                                                                                                        class="btn btn-primary btn-small">Return</a>
                                                                                                </div> -->
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
    </div>
    </div>

   
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
        <script src="js/bootstrap.min.js"></script>
    <script>
      var product1Price = 200;
      var product2Price = 4500;
      var product3Price = 2500;
      function getDetails(element){
          let id = element.id;
          let productUrl = $('#img'+id).attr('src');
          let productQuantity = $('#quantity'+id).val();
          let productName = $('#productName'+id).html();
          console.log(id);
          console.log(productUrl);
          console.log(productQuantity);
          console.log(productName);
          let price = 0;
          if(id === 1)
          {
            price = product1Price;
          }else if(id === 2)
          {
            price = product2Price;
          }else{
            price = product3Price;
          }
          window.location = 'http://169.48.27.245/checkout_step_1?productImage='+productUrl+'&productName='+productName+'&quantity='+productQuantity+'&price='+price;
       
        //   $.ajax({
        //       method : 'GET',
        //       success : function (data){

        //       },
        //       error : function (data){

        //       }
        //   })
     }
    </script>

